@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: black;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
canvas{
    display: block;
    margin: 0 auto;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 6px;
  background: #ccc;
  border-radius: 3px;
}


